// Here you can add other styles

.txt-deco {
  .custom-brand {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    font-family: "Playfair Display", sans-serif;
    color: rgb(159, 165, 168);
    letter-spacing: 5px;
  }
}

a:hover {
  text-decoration: none;
}
